@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400;700&family=Poppins&display=swap");

.slider-1 {
  position: relative;
}

#slider-1 {
  margin: 0;
  padding: 0;
}

.slider-1-text {
  position: absolute;
  top: 20%;
  left: 35%;
}

.slider-1-text h3 {
  color: white;

  font-size: 3rem;
  margin: 2rem;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
}
.slider-1-text p {
  color: white;
  font-weight: 200;
  font-size: 1rem;
  margin: 2rem;
  text-shadow: 4px 0px 5px rgba(0, 0, 0, 1);
}

.navbar-list ul li a {
  margin: 2rem;
  font-weight: 500;
}
.container .about-container {
  margin-top: 2rem;
}

.container .about-container h2 {
  font-weight: 700;
}
.container .about-container h3 {
  color: #00964f;
}

.container .about-container2 {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container .about-container2 h3 {
  margin: 2rem;
}
.container .about-container2 h2 {
  color: #00964f;
}
.bos {
  width: 100%;
  height: 600px;
  background-color: aqua;
  margin-top: 5rem;
}

.columntext {
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: 500;
}

section {
  margin: 2rem;
}

.location {
  position: relative;
}

.location-list {
  position: absolute;
  top: 0%;
  left: 60%;
  width: 40%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.location-list .container-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3rem 2rem;
}

@media (max-width: 992px) {
  .location-list {
    display: none;
  }
}

.location-list .container-text ul {
  list-style: none;
}
.location-list .container-text ul li {
  margin: 2rem;
  font-size: 1.3rem;
}

.location-list .container-text ul li i {
  margin-right: 1rem;
}

.location-btn {
  width: 50%;
  margin-left: 4rem;
}

#virtual img {
  width: 100%;
}
#virtual img:hover {
  filter: invert(30%);
}

#virtual .container {
  text-align: center;
}

.image-container {
  display: inline-block;
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .image-text {
  opacity: 0.6;
}

.etap-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#galeri .container .fikirtepe-etap {
  font-weight: 600;
}
.social-media {
  display: flex;
  flex-direction: row;
}
.social-media i {
  padding: 1rem 0.3rem;
}

.carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 24px;
}

.carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #7952b3;
  border-radius: inherit;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.container-slider {
  display: flex;
  flex-direction: row;
}
.location-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Harita ve liste arasına boşluk ekler */
}

.map {
  align-self: flex-end; /* Haritayı sağa hizalar */
}

/* Küçük ekranlar için stil */
@media (max-width: 768px) {
  .location-container {
    flex-direction: column; /* Dikey düzende sıralar */
  }

  .map {
    align-self: flex-start; /* Haritayı yukarıda hizalar */
  }
}

.slider-img-etap {
  max-height: 300px;
}

.last-slider img {
  max-height: auto !important;
}

.carousel-control-next-icon:after {
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  font-size: 55px;
  color: white;
}

.wrapper {
  position: fixed;
  bottom: 5%;
  right: 2%;
}

.wrapper a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.wrapper p {
  margin-top: 1rem;
  font-size: large;
  font-weight: 500;
  color: #00964f;
}

#scrolllink {
  display: none;
}

/* **************************************************************************************************************** */

#etaps {
  position: relative;
}

#etaps .image-etaps-icon {
  position: absolute;
  top: 23%;
  left: 79%;
}
.image-etaps-icon p {
  font-size: 1rem;
}

#etaps .image-etaps-icon-5 {
  position: absolute;
  top: 35%;
  left: 55%;
}
.image-etaps-icon-5 p {
  font-size: 1rem;
}

#etaps .image-etaps-icon-14 {
  position: absolute;
  top: 65%;
  left: 50%;
}

.image-etaps-icon-14 p {
  font-size: 1rem;
}

@media (max-width: 992px) {
  #etaps .image-etaps-icon,
  #etaps .image-etaps-icon-5,
  #etaps .image-etaps-icon-14 {
    display: none;
  }
}

footer .footer-img {
  height: 5rem;
  width: auto;
}

/* Etaps */

#gizliDiv {
  display: none;
  position: absolute;
  background-color: #00964f;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#gizliDiv-5 {
  display: none;
  position: absolute;
  background-color: #00964f;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#gizliDiv-14 {
  display: none;
  position: absolute;
  background-color: #00964f;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#link:hover + #gizliDiv {
  display: block;
}

#link-5:hover + #gizliDiv-5 {
  display: block;
}
#link-14:hover + #gizliDiv-14 {
  display: block;
}

#etaps {
  position: relative;
}

.click-div {
  position: absolute;
  top: 30.5%;
}

.click-div-5 {
  position: absolute;
  top: 30.5%;
}

.click-div-14 {
  position: absolute;
  top: 30.5%;
}
